body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    text-align: left;
    background-color: #f3f6ff;
}

a {
    color: #f195b2;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #e85181;
    text-decoration: underline;
}

btn {
    border-radius: 0;
}

btn:focus {
    outline: 1px dotted;
}